:root {
    --white:        #fff;
    --mainBlue:     #252934;
    --mainBlueDark: #1B242F;

    --accentBlue:   #00b0b3;
    --accentRed: rgb(245, 24, 111);
}
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}