.navigation {
    background: var(--mainBlueDark);
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 4px solid var(--accentBlue);
}

.navigation a {
    position: relative;
    color: var(--white);
    font-size: 1.5rem;
    padding: 10px 25px;
    background: transparent;
    transition: color 0.3s ease;
    z-index: 1;
}

.navigation a::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background: #00BDC5;
    transition: height 0.3s ease;
    z-index: -1;
}
.navigation a:hover::after {
    height: 100%;
}
.navigation a:hover{
    color: var(--mainBlueDark);
}
nav {
    display: flex;
}